### Build Files ###
/bin
/target
/build/

### Gradle Files ###
.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
# dist/
nbdist/
.nb-gradle/

### Eclipse Project ###
.classpath
.project
.settings
.springBeans

### Java class ###
*.class

### Operating System ###
*.DS_Store
Thumbs.db
ehthumbs.db

### Folder config ###
Desktop.ini

### Windows shortcuts
*.lnk

### Recycle Bin used on file shares ###
$RECYCLE.BIN/

### Windows Installer ###
*.cab
*.msi
*.msm
*.msp

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### Package ###
*.jar
*.war
*.ear

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ###
hs_err_pid*
