<div class="modal-header">
  <h3 class="modal-title">
  	<span ng-if="book.uuid==null">New Book</span>
  	<span ng-if="book.uuid!=null">{{book.title}} - {{book.author}}</span>
  </h3>
</div>

<!-- START modal-body -->
<div class="modal-body">

    <!-- START bookForm -->
  	<form name="bookForm">
  	  <fieldset class="form-group" class="form-group">
        <div ng-if="book.uuid!=null">
          <label>File: </label>
          <a type="button" ng-click="openModalPDF(book)">
            {{book.fileName}}
          </a>
        </div>
        <input id="file" class="btn btn-default form-control" name="file"
    	    type="file" ngf-select ng-model="file" file-model="book.file"   
             accept="application/pdf, application/kswps" ngf-max-size="1GB"
             ngf-model-invalid="errorFiles">
        <div ng-if="book.uuid!=null">
          <i>*If you select new file, old file wil be replaced.</i>
        </div>
        <i ng-show="bookForm.file.$error.maxSize">File too large 
          {{errorFiles[0].size / 1000000000|number:1}}GB: max 1GB</i>
        <br>
  	  </fieldset>
      <br>
  	
  	  <fieldset class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" ng-model="book.title" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" ng-model="book.author" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="keywords">Keywords</label>
        <input type="text" class="form-control" id="keywords" ng-model="book.keywords" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="publicationYear">Publication Year</label>
        <input type="text" class="form-control" id="publicationYear" ng-model="book.publicationYear" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="fileSize">FileSize</label>
        <input type="text" class="form-control" id="fileSize" ng-model="book.file.size" disabled="disabled">
      </fieldset>
      <fieldset class="form-group">
        <label for="mimeName">MimeName</label>
        <input type="text" class="form-control" id="mimeName" ng-model="book.file.type" disabled="disabled">
      </fieldset>
      
      <fieldset class="form-group">
        <label for="categoryId">Category</label>
        <select class="form-control" name="categoryId" ng-model="book.category.id" ng-options="c.id as c.name for c in categories" required></select>
      </fieldset>
      <fieldset class="form-group">
        <label for="languageId">Language</label>
        <select class="form-control" name="languageId" ng-model="book.language.id" ng-options="l.id as l.name for l in languages" required></select>
      </fieldset>
      
  	</form>
  	<!-- END bookForm -->
  	
</div>
<!-- END modal-body -->

<div class="modal-footer">
  <button class="btn btn-default" type="submit" ng-disabled="!bookForm.$valid" ng-click="ok(file)">OK</button>
  <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
