<div class="modal-header">
  <button type="button" class="close" ng-click="close()">X</button>
  <h3 class="modal-title">{{book.fileName}}</h3>
</div>

<!-- START modal-body -->
<div class="modal-body">

  <div style="text-align: center;">
    <object
      id="pdf-object" 
      data="{{book.fileURL}}"
      type="application/pdf"
      style="width:100%; height:500px;">
    </object> 
  </div>
</div>
<!-- END modal-body -->

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>
